@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

:root {
    --primary-color: #5D15D1;
    --secondary-color: #fff;
    --tertiary-color: #7878799f;
    --font-color: #1f1f1f9f;
    --background-color: #D0D0D0;
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
}

header, main, section {
    width: 100%;
}

.largura-padrao {
    width: 80%;
    margin: 50px auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    background-color: var(--secondary-color);

}

.cabecalho img {
    width: 32px;
}

.cabecalho p {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 500;
}

.banner {
    background-image: url(../img/bahia.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    height: 90%;
    background: transparent;
    border: 1px solid var(--tertiary-color);
    backdrop-filter: blur(15px);
    border-radius: 10px;
}

.titulo-form {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.titulo-form img {
    width: 20px;
}

.titulo-form h1 {
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}

form {
    padding: 20px;
    width: 100%;
    color: var(--secondary-color);
}

.dados-form {
    display: flex;
    flex-direction: column;
   
}

.label-input {
    display: flex;
   flex-direction: column;
}

.label-input label, input {
    margin-bottom: 10px;
}

.label-input input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid var(--tertiary-color);
    flex-basis: content;
    outline: none;
}

.label-input input::placeholder{
    color: var(--primary-color);
    font-weight: 500;
}

.info-voo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    border: 1px solid var(--tertiary-color);
}

.info-voo div {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.info-voo div input, select{
    padding: 5px 10px;
}

#ida, #volta, #origem, #destino{
    margin: 10px 0;
} 

.true-false {
    width: 100%;
    display: flex;
    align-items: center;
    
    margin: 20px 0;
}

.true-false div {
    margin-right: 20px;
}

.check-preferences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

.check-preferences div {
    margin-left: 10px;
}

.form button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.ofertas h3 {
    margin-bottom: 10px;
}

.ofertas span {
    font-weight: bold;
}

.images {
    width: 100%;
}
.images figure img {
    width: 100%;
    object-fit: cover;
}

figure {
    margin: 20px 0;
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 3px;
    padding: 5px 10px;
    width: 100%;
    background-color: var(--font-color);
    color: var(--secondary-color);
}

.anuncios h3 {
    margin-bottom: 15px;
}

.anuncios p {
    margin-bottom: 15px;
    color: var(--tertiary-color);
}

.card-anuncio {
    width: 100%;
}

.card-anuncio div {
    background-color: var(--secondary-color);
}

.card-anuncio img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-anuncio h4 {
    margin: 0 0 15px 10px;
    font-size: 14px;
    font-weight: 500;
}

.card-anuncio p {
    padding: 0 0 15px 10px;
    font-size: 14px;
    color: var(--tertiary-color)
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.rodape {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
    margin: 0 auto;
}
.card-rodape {
    display: flex;
    align-items: center;
}

.card-rodape span {
    margin-bottom: 10px;
}

.rodape h4 {
    margin-bottom: 10px;
}

.rodape img {
    width: 20px;
    margin: 0 10px 10px 0;
}